

<!DOCTYPE html>
<html lang="en">
   <head>
      <title>ATP Champ</title>
      <!-- Required meta tags -->
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
      <!-- Bootstrap CSS -->
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous">
   </head>
   <body>
      <form method='post' action="{{ url_for('receive_data') }}">
         <div class="container">
         <div class="row">
            <div class="col-xs-12 mx-auto p-3 mb-2 bg-light text-dark">
               <h3 class="display-3">ATP Champ</h3>
               <p class="lead">Content Builder</p>
               <div id="flashMessage">
                  Your changes have been saved!
               </div>
            </div>
         </div>
         <div class="row">
            <div class="col-md-6" style="float: left;">
               <div class="form-group">
                  <select class="custom-select" id="template_type" name='template_type'>
                     <option selected>Choose a template</option>
                     <option value="1">Head2Head</option>
                     <option value="2">Set Scores</option>
                     <option value="3">Winner</option>
                     <option value="4">Post Match Stats</option>
                  </select>
                  <br>
                  <br>
                  <div class="dropdown">
                     <input type="hidden" name="player1Name" id="player1Field">
                     <input type="hidden" name="player2Name" id="player2Field">
                     <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown" id="player1Name" name='player1Name'>Dropdown Example
                     <span class="caret"></span></button>
                     <ul class="dropdown-menu">
                        <input class="form-control" id="player1Input" type="text" placeholder="Search..">
                        <li><a class="dropdown-item" data-value="Novak_Djokovic">Novak Djokovic</a></li>
                        <li><a class="dropdown-item" data-value="Rafael_Nadal">Rafael Nadal</a></li>
                        <li><a class="dropdown-item" data-value="Alexander_Zverev">Alexander Zverev</a></li>
                        <li><a class="dropdown-item" data-value="Juan_Martin_del_Potro">Juan Martin del Potro</a></li>
                        <li><a class="dropdown-item" data-value="Kevin_Anderson">Kevin Anderson</a></li>
                        <li><a class="dropdown-item" data-value="Roger_Federer">Roger Federer</a></li>
                        <li><a class="dropdown-item" data-value="Kei_Nishikori">Kei Nishikori</a></li>
                        <li><a class="dropdown-item" data-value="Dominic_Thiem">Dominic Thiem</a></li>
                        <li><a class="dropdown-item" data-value="John_Isner">John Isner</a></li>
                        <li><a class="dropdown-item" data-value="Marin_Cilic">Marin Cilic</a></li>
                        <li><a class="dropdown-item" data-value="Karen_Khachanov">Karen Khachanov</a></li>
                        <li><a class="dropdown-item" data-value="Stefanos_Tsitsipas">Stefanos Tsitsipas</a></li>
                        <li><a class="dropdown-item" data-value="Borna_Coric">Borna Coric</a></li>
                        <li><a class="dropdown-item" data-value="Milos_Raonic">Milos Raonic</a></li>
                        <li><a class="dropdown-item" data-value="Fabio_Fognini">Fabio Fognini</a></li>
                        <li><a class="dropdown-item" data-value="Daniil_Medvedev">Daniil Medvedev</a></li>
                        <li><a class="dropdown-item" data-value="Lucas_Pouille">Lucas Pouille</a></li>
                        <li><a class="dropdown-item" data-value="Roberto_Bautista_Agut">Roberto Bautista Agut</a></li>
                        <li><a class="dropdown-item" data-value="Marco_Cecchinato">Marco Cecchinato</a></li>
                        <li><a class="dropdown-item" data-value="Diego_Schwartzman">Diego Schwartzman</a></li>
                        <li><a class="dropdown-item" data-value="David_Goffin">David Goffin</a></li>
                        <li><a class="dropdown-item" data-value="Nikoloz_Basilashvili">Nikoloz Basilashvili</a></li>
                        <li><a class="dropdown-item" data-value="Pablo_Carreno_Busta">Pablo Carreno Busta</a></li>
                        <li><a class="dropdown-item" data-value="Grigor_Dimitrov">Grigor Dimitrov</a></li>
                        <li><a class="dropdown-item" data-value="Denis_Shapovalov">Denis Shapovalov</a></li>
                        <li><a class="dropdown-item" data-value="Fernando_Verdasco">Fernando Verdasco</a></li>
                        <li><a class="dropdown-item" data-value="Richard_Gasquet">Richard Gasquet</a></li>
                        <li><a class="dropdown-item" data-value="Alex_de_Minaur">Alex de Minaur</a></li>
                        <li><a class="dropdown-item" data-value="Kyle_Edmund">Kyle Edmund</a></li>
                        <li><a class="dropdown-item" data-value="Frances_Tiafoe">Frances Tiafoe</a></li>
                        <li><a class="dropdown-item" data-value="Gilles_Simon">Gilles Simon</a></li>
                        <li><a class="dropdown-item" data-value="Philipp_Kohlschreiber">Philipp Kohlschreiber</a></li>
                        <li><a class="dropdown-item" data-value="Gael_Monfils">Gael Monfils</a></li>
                        <li><a class="dropdown-item" data-value="Steve_Johnson">Steve Johnson</a></li>
                        <li><a class="dropdown-item" data-value="Jeremy_Chardy">Jeremy Chardy</a></li>
                        <li><a class="dropdown-item" data-value="John_Millman">John Millman</a></li>
                        <li><a class="dropdown-item" data-value="Andreas_Seppi">Andreas Seppi</a></li>
                        <li><a class="dropdown-item" data-value="Martin_Klizan">Martin Klizan</a></li>
                        <li><a class="dropdown-item" data-value="Joao_Sousa">Joao Sousa</a></li>
                        <li><a class="dropdown-item" data-value="Taylor_Fritz">Taylor Fritz</a></li>
                        <li><a class="dropdown-item" data-value="Nicolas_Jarry">Nicolas Jarry</a></li>
                        <li><a class="dropdown-item" data-value="Dusan_Lajovic">Dusan Lajovic</a></li>
                        <li><a class="dropdown-item" data-value="Malek_Jaziri">Malek Jaziri</a></li>
                        <li><a class="dropdown-item" data-value="Pierre-Hugues_Herbert">Pierre-Hugues Herbert</a></li>
                        <li><a class="dropdown-item" data-value="Matthew_Ebden">Matthew Ebden</a></li>
                        <li><a class="dropdown-item" data-value="Adrian_Mannarino">Adrian Mannarino</a></li>
                        <li><a class="dropdown-item" data-value="Marton_Fucsovics">Marton Fucsovics</a></li>
                        <li><a class="dropdown-item" data-value="Sam_Querrey">Sam Querrey</a></li>
                        <li><a class="dropdown-item" data-value="Leonardo_Mayer">Leonardo Mayer</a></li>
                        <li><a class="dropdown-item" data-value="Hyeon_Chung">Hyeon Chung</a></li>
                        <li><a class="dropdown-item" data-value="Jan-Lennard_Struff">Jan-Lennard Struff</a></li>
                        <li><a class="dropdown-item" data-value="Damir_Dzumhur">Damir Dzumhur</a></li>
                        <li><a class="dropdown-item" data-value="Matteo_Berrettini">Matteo Berrettini</a></li>
                        <li><a class="dropdown-item" data-value="Robin_Haase">Robin Haase</a></li>
                        <li><a class="dropdown-item" data-value="Mikhail_Kukushkin">Mikhail Kukushkin</a></li>
                        <li><a class="dropdown-item" data-value="Marius_Copil">Marius Copil</a></li>
                        <li><a class="dropdown-item" data-value="Stan_Wawrinka">Stan Wawrinka</a></li>
                        <li><a class="dropdown-item" data-value="Benoit_Paire">Benoit Paire</a></li>
                        <li><a class="dropdown-item" data-value="Guido_Pella">Guido Pella</a></li>
                        <li><a class="dropdown-item" data-value="Jordan_Thompson">Jordan Thompson</a></li>
                        <li><a class="dropdown-item" data-value="Peter_Gojowczyk">Peter Gojowczyk</a></li>
                        <li><a class="dropdown-item" data-value="Feliciano_Lopez">Feliciano Lopez</a></li>
                        <li><a class="dropdown-item" data-value="Denis_Kudla">Denis Kudla</a></li>
                        <li><a class="dropdown-item" data-value="Cameron_Norrie">Cameron Norrie</a></li>
                        <li><a class="dropdown-item" data-value="Aljaz_Bedene">Aljaz Bedene</a></li>
                        <li><a class="dropdown-item" data-value="Nick_Kyrgios">Nick Kyrgios</a></li>
                        <li><a class="dropdown-item" data-value="Mischa_Zverev">Mischa Zverev</a></li>
                        <li><a class="dropdown-item" data-value="Yoshihito_Nishioka">Yoshihito Nishioka</a></li>
                        <li><a class="dropdown-item" data-value="Taro_Daniel">Taro Daniel</a></li>
                        <li><a class="dropdown-item" data-value="Guido_Andreozzi">Guido Andreozzi</a></li>
                        <li><a class="dropdown-item" data-value="Albert_Ramos-Vinolas">Albert Ramos-Vinolas</a></li>
                        <li><a class="dropdown-item" data-value="Filip_Krajinovic">Filip Krajinovic</a></li>
                        <li><a class="dropdown-item" data-value="Hubert_Hurkacz">Hubert Hurkacz</a></li>
                        <li><a class="dropdown-item" data-value="Roberto_Carballes_Baena">Roberto Carballes Baena</a></li>
                        <li><a class="dropdown-item" data-value="Tennys_Sandgren">Tennys Sandgren</a></li>
                        <li><a class="dropdown-item" data-value="Maximilian_Marterer">Maximilian Marterer</a></li>
                        <li><a class="dropdown-item" data-value="Federico_Delbonis">Federico Delbonis</a></li>
                        <li><a class="dropdown-item" data-value="Ivo_Karlovic">Ivo Karlovic</a></li>
                     </ul>
                  </div>
                  <br>
                  <div class="dropdown">
                     <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown" id="player2Name">Dropdown Example
                     <span class="caret"></span></button>
                     <ul class="dropdown-menu">
                        <input class="form-control" id="player2Input" type="text" placeholder="Search..">
                        <li><a class="dropdown-item" data-value="Novak_Djokovic">Novak Djokovic</a></li>
                        <li><a class="dropdown-item" data-value="Rafael_Nadal">Rafael Nadal</a></li>
                        <li><a class="dropdown-item" data-value="Alexander_Zverev">Alexander Zverev</a></li>
                        <li><a class="dropdown-item" data-value="Juan_Martin_del_Potro">Juan Martin del Potro</a></li>
                        <li><a class="dropdown-item" data-value="Kevin_Anderson">Kevin Anderson</a></li>
                        <li><a class="dropdown-item" data-value="Roger_Federer">Roger Federer</a></li>
                        <li><a class="dropdown-item" data-value="Kei_Nishikori">Kei Nishikori</a></li>
                        <li><a class="dropdown-item" data-value="Dominic_Thiem">Dominic Thiem</a></li>
                        <li><a class="dropdown-item" data-value="John_Isner">John Isner</a></li>
                        <li><a class="dropdown-item" data-value="Marin_Cilic">Marin Cilic</a></li>
                        <li><a class="dropdown-item" data-value="Karen_Khachanov">Karen Khachanov</a></li>
                        <li><a class="dropdown-item" data-value="Stefanos_Tsitsipas">Stefanos Tsitsipas</a></li>
                        <li><a class="dropdown-item" data-value="Borna_Coric">Borna Coric</a></li>
                        <li><a class="dropdown-item" data-value="Milos_Raonic">Milos Raonic</a></li>
                        <li><a class="dropdown-item" data-value="Fabio_Fognini">Fabio Fognini</a></li>
                        <li><a class="dropdown-item" data-value="Daniil_Medvedev">Daniil Medvedev</a></li>
                        <li><a class="dropdown-item" data-value="Lucas_Pouille">Lucas Pouille</a></li>
                        <li><a class="dropdown-item" data-value="Roberto_Bautista_Agut">Roberto Bautista Agut</a></li>
                        <li><a class="dropdown-item" data-value="Marco_Cecchinato">Marco Cecchinato</a></li>
                        <li><a class="dropdown-item" data-value="Diego_Schwartzman">Diego Schwartzman</a></li>
                        <li><a class="dropdown-item" data-value="David_Goffin">David Goffin</a></li>
                        <li><a class="dropdown-item" data-value="Nikoloz_Basilashvili">Nikoloz Basilashvili</a></li>
                        <li><a class="dropdown-item" data-value="Pablo_Carreno_Busta">Pablo Carreno Busta</a></li>
                        <li><a class="dropdown-item" data-value="Grigor_Dimitrov">Grigor Dimitrov</a></li>
                        <li><a class="dropdown-item" data-value="Denis_Shapovalov">Denis Shapovalov</a></li>
                        <li><a class="dropdown-item" data-value="Fernando_Verdasco">Fernando Verdasco</a></li>
                        <li><a class="dropdown-item" data-value="Richard_Gasquet">Richard Gasquet</a></li>
                        <li><a class="dropdown-item" data-value="Alex_de_Minaur">Alex de Minaur</a></li>
                        <li><a class="dropdown-item" data-value="Kyle_Edmund">Kyle Edmund</a></li>
                        <li><a class="dropdown-item" data-value="Frances_Tiafoe">Frances Tiafoe</a></li>
                        <li><a class="dropdown-item" data-value="Gilles_Simon">Gilles Simon</a></li>
                        <li><a class="dropdown-item" data-value="Philipp_Kohlschreiber">Philipp Kohlschreiber</a></li>
                        <li><a class="dropdown-item" data-value="Gael_Monfils">Gael Monfils</a></li>
                        <li><a class="dropdown-item" data-value="Steve_Johnson">Steve Johnson</a></li>
                        <li><a class="dropdown-item" data-value="Jeremy_Chardy">Jeremy Chardy</a></li>
                        <li><a class="dropdown-item" data-value="John_Millman">John Millman</a></li>
                        <li><a class="dropdown-item" data-value="Andreas_Seppi">Andreas Seppi</a></li>
                        <li><a class="dropdown-item" data-value="Martin_Klizan">Martin Klizan</a></li>
                        <li><a class="dropdown-item" data-value="Joao_Sousa">Joao Sousa</a></li>
                        <li><a class="dropdown-item" data-value="Taylor_Fritz">Taylor Fritz</a></li>
                        <li><a class="dropdown-item" data-value="Nicolas_Jarry">Nicolas Jarry</a></li>
                        <li><a class="dropdown-item" data-value="Dusan_Lajovic">Dusan Lajovic</a></li>
                        <li><a class="dropdown-item" data-value="Malek_Jaziri">Malek Jaziri</a></li>
                        <li><a class="dropdown-item" data-value="Pierre-Hugues_Herbert">Pierre-Hugues Herbert</a></li>
                        <li><a class="dropdown-item" data-value="Matthew_Ebden">Matthew Ebden</a></li>
                        <li><a class="dropdown-item" data-value="Adrian_Mannarino">Adrian Mannarino</a></li>
                        <li><a class="dropdown-item" data-value="Marton_Fucsovics">Marton Fucsovics</a></li>
                        <li><a class="dropdown-item" data-value="Sam_Querrey">Sam Querrey</a></li>
                        <li><a class="dropdown-item" data-value="Leonardo_Mayer">Leonardo Mayer</a></li>
                        <li><a class="dropdown-item" data-value="Hyeon_Chung">Hyeon Chung</a></li>
                        <li><a class="dropdown-item" data-value="Jan-Lennard_Struff">Jan-Lennard Struff</a></li>
                        <li><a class="dropdown-item" data-value="Damir_Dzumhur">Damir Dzumhur</a></li>
                        <li><a class="dropdown-item" data-value="Matteo_Berrettini">Matteo Berrettini</a></li>
                        <li><a class="dropdown-item" data-value="Robin_Haase">Robin Haase</a></li>
                        <li><a class="dropdown-item" data-value="Mikhail_Kukushkin">Mikhail Kukushkin</a></li>
                        <li><a class="dropdown-item" data-value="Marius_Copil">Marius Copil</a></li>
                        <li><a class="dropdown-item" data-value="Stan_Wawrinka">Stan Wawrinka</a></li>
                        <li><a class="dropdown-item" data-value="Benoit_Paire">Benoit Paire</a></li>
                        <li><a class="dropdown-item" data-value="Guido_Pella">Guido Pella</a></li>
                        <li><a class="dropdown-item" data-value="Jordan_Thompson">Jordan Thompson</a></li>
                        <li><a class="dropdown-item" data-value="Peter_Gojowczyk">Peter Gojowczyk</a></li>
                        <li><a class="dropdown-item" data-value="Feliciano_Lopez">Feliciano Lopez</a></li>
                        <li><a class="dropdown-item" data-value="Denis_Kudla">Denis Kudla</a></li>
                        <li><a class="dropdown-item" data-value="Cameron_Norrie">Cameron Norrie</a></li>
                        <li><a class="dropdown-item" data-value="Aljaz_Bedene">Aljaz Bedene</a></li>
                        <li><a class="dropdown-item" data-value="Nick_Kyrgios">Nick Kyrgios</a></li>
                        <li><a class="dropdown-item" data-value="Mischa_Zverev">Mischa Zverev</a></li>
                        <li><a class="dropdown-item" data-value="Yoshihito_Nishioka">Yoshihito Nishioka</a></li>
                        <li><a class="dropdown-item" data-value="Taro_Daniel">Taro Daniel</a></li>
                        <li><a class="dropdown-item" data-value="Guido_Andreozzi">Guido Andreozzi</a></li>
                        <li><a class="dropdown-item" data-value="Albert_Ramos-Vinolas">Albert Ramos-Vinolas</a></li>
                        <li><a class="dropdown-item" data-value="Filip_Krajinovic">Filip Krajinovic</a></li>
                        <li><a class="dropdown-item" data-value="Hubert_Hurkacz">Hubert Hurkacz</a></li>
                        <li><a class="dropdown-item" data-value="Roberto_Carballes_Baena">Roberto Carballes Baena</a></li>
                        <li><a class="dropdown-item" data-value="Tennys_Sandgren">Tennys Sandgren</a></li>
                        <li><a class="dropdown-item" data-value="Maximilian_Marterer">Maximilian Marterer</a></li>
                        <li><a class="dropdown-item" data-value="Federico_Delbonis">Federico Delbonis</a></li>
                        <li><a class="dropdown-item" data-value="Ivo_Karlovic">Ivo Karlovic</a></li>
                     </ul>
                  </div>
                  <br>
                  <br>
                  <select class="custom-select" id="set_number">
                     <option selected>Choose set number</option>
                     <option value="1">1</option>
                     <option value="2">2</option>
                     <option value="3">3</option>
                  </select>
                  <br>
                  <br>
                  <select class="custom-select" id="home_score">
                     <option selected>Choose home score</option>
                     <option value="1">1</option>
                     <option value="2">2</option>
                     <option value="3">3</option>
                     <option value="4">4</option>
                     <option value="5">5</option>
                     <option value="6">6</option>
                     <option value="7">7</option>
                  </select>
                  <br>
                  <br>
                  <select class="custom-select" id="away_score">
                     <option selected>Choose away score</option>
                     <option value="1">1</option>
                     <option value="2">2</option>
                     <option value="3">3</option>
                     <option value="4">4</option>
                     <option value="5">5</option>
                     <option value="6">6</option>
                     <option value="7">7</option>
                  </select>
                  <br>
                  <br>
                  <select class="custom-select" id="winner_name">
                     <option selected>Choose winner name</option>
                     <option value="1">1st</option>
                     <option value="2">2nd</option>
                     <option value="3">3rd</option>
                  </select>
               </div>
               <button type="submit" class="btn btn-success" id="submit_button">Submit</button>
            </div>
            <div class="col-md-6" style="text-align: right;">
               <div class="formPreviewArea" style="width: 100%">
                  <h2 id="templateTypePreview"></h2>
               </div>
            </div>
         </div>
      </form>
      <script src="https://code.jquery.com/jquery-3.3.1.min.js" crossorigin="anonymous"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
      <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
      <script>
         $(document).ready(function(){
           $("#player1Input").on("keyup", function() {
             var value = $(this).val().toLowerCase();
             $(this).parents(".dropdown").find(".dropdown-menu li").filter(function() {
               $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
             });
           });
         
           $("#player2Input").on("keyup", function() {
             var value = $(this).val().toLowerCase();
             $(this).parents(".dropdown").find(".dropdown-menu li").filter(function() {
               $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
             });
           });
         
             });
         
             //update text and values in dropdown menus
             $(".dropdown-menu a").click(function(){
               $(this).parents(".dropdown").find('.btn').html($(this).text() + ' <span class="caret"></span>');
               $(this).parents(".dropdown").find('.btn').val($(this).data('value'));
         
               switch ($(this).parents(".dropdown").find('.btn').attr("id")){
         case "player1Name":
         $("#player1Field").val($("#player1Name").val());
         break;
         case "player2Name":
         $("#player2Field").val($("#player2Name").val());
         break;
         }
             });
         
           function hide_fields(){
         
           $('#flashMessage').hide();
           $('#player1Name').hide();
           $('#player2Name').hide();
           $('#set_number').hide();
           $('#home_score').hide();
           $('#away_score').hide();
           $('#winner_name').hide();
           $('#stats').hide();
           }
         
           hide_fields();         
            
           $('#template_type').change(function(){
             hide_fields();
             const template_type = $('#template_type').val();
              
                if (template_type == 1){
               $(".formPreviewArea").html('<img src="static/ATP_Static_V2.png" width= "100%" height="auto">');
               $('#player1Name').show();
               $('#player2Name').show();
              } 
                else if (template_type == 2){
               $(".formPreviewArea").html('<img src="static/ATP_Static_V1.2.png" width= "100%" height="auto">');
               $('#set_number').show();
               $('#home_score').show();
               $('#away_score').show();
              }
                else if (template_type == 3){
               $(".formPreviewArea").html('<img src="static/RepriseBlack.jpg" width= "100%" height="auto">');
               $('#player1Name').show();
              }
                else if (template_type == 4){
               $(".formPreviewArea").html('<img src="static/ATP_Static_Stats.png" width= "100%" height="auto">');
              }
         
              });
                    
         
      </script>
   </body>
</html>

